{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>I am a self-motivated person from an old steel town in the Northeast, pushing myself to learn python while working a full-time job to challenge and better myself and my future.</p>
        <p>While learning python I have created this blog, which allows users to add their own posts and also comment on other posts that have been made. Furthermore I created an application which would track the International Space Station, and when it was located above my house, send me a text telling me to look up.</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}
  {% endblock %}
